.hero {
    width: 69.43rem;
    height: 40rem;
    background-image: url("../../public/assets/home/desktop/bg-pattern-hero-home.svg");
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 10rem;
    background-color: #E7816B;
    border-radius: 0.9375rem;
    position: relative;
    overflow: hidden;
  }

  .hero-webdesign {
    width: 69.4375rem;
    height: 15.75rem;
    background-color: #E7816B;
    background-image: url("../../public/assets/web-design/desktop/bg-pattern-intro-web.svg");
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding-top: 4rem;
    padding-left: 22rem;
    padding-right: 22rem;
    border-radius: 0.9375rem;
  }

  .hero-appdesign {
    width: 69.4375rem;
    height: 15.75rem;
    background-color: #E7816B;
    background-image: url("../../public/assets/app-design/desktop/bg-pattern-intro-app.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-position: left;
    text-align: center;
    align-items: center;
    padding: 4rem 23.25rem 0 23.25rem;
    border-radius: 0.9375rem;
    gap: 1.5rem;
    margin-bottom: 10.38rem;
  }

  .hero-graphicdesign {
    width: 69.4375rem;
    height: 15.75rem;
    background-color: #E7816B;
    background-image: url("../../public/assets/graphic-design/desktop/bg-pattern-intro-graphic.svg");
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 4rem 23.25rem 0 23.25rem;
    border-radius: 0.9375rem;
    gap: 1.5rem;
    margin-bottom: 10.38rem;
  }

  .hero-about {
    width: 69.4375rem;
    height: 30rem;
    background-color: #E7816B;
    background-image: url("../../public/assets/about/desktop/bg-pattern-hero-about-desktop.svg");
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    border-radius: 0.9375rem;
  }

  .hero-about-title {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 5.94rem;
    padding-top: 8.44rem;
  }

  .hero-about-title h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 500;
  }

  .hero-about-title p {
    line-height: 1.625rem;
    padding-right: 4.25rem;
  }

  .hero-about-title h1, .hero-about-title p {
    margin: 0;
    color: #fff;
  }

  .hero-about-img {
    width: 45rem;
    height: 30rem;
    border-top-right-radius: 0.9375rem;
    border-bottom-right-radius: 0.937rem;
  }
  
  .hero-appdesign h1, .hero-graphicdesign h1 {
      font-size: 3rem;
      font-weight: 500;
      line-height: 3rem;
      margin: 0;
      color: #fff;
  }
  
  .hero-appdesign p, .hero-graphicdesign p {
    color: #fff;
    line-height: 1.625rem;
  }
  
  .hero-title {
    width: 33.75rem;
    height: 21.875rem;
    margin: 9.06rem 6.15rem 9.06rem 5.94rem;
  }

  .hero-webdesign-title h1{
    color: #fff;
    font-size: 3rem;
    margin: 0;
  }

  .hero-webdesign-title p {
    color: #fff;
    margin: 0;
  }
  
  .hero-title h1{
    font-size: 3rem;
    font-weight: 500;
    line-height: 3rem;
    width: 100%;
    color: #fff;
  }
  
  .hero-title p {
    color: #fff;
    font-weight: 400;
    line-height: 1.625rem;
    margin-top: 0.69;
    margin-right: 5.94rem;
  }
  
  .btn {
    width: 9.5rem;
    height: 3.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    border: none;
    font-size: 0.9375rem;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    margin-top: 2.5rem;
  }
  
  .phone {
    position: absolute;
    top: -1.85rem;
    right: -2.75rem;
  }